html
    head
        title Test Result(Calculate)
    body
        h1 
            a(href="main?templateid="+templateid) back to list
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            |Point : 
            if point <= 80
                label(style="color:red;") #{point}
            else
                label(style="color:green;") #{point}
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            |Cost : 
            if cost >= "02:00"
                label(style="color:red;") #{cost}
            else
                label(style="color:green;") #{cost}
        table
            each row, index in param
                tr
                    td
                        h1  (#{index+1})
                    td(style={"border-bottom": "1pt solid black"})
                        h1
                            |  
                            each item in row
                                if item == ""
                                    input(type="text" disabled style={width: "80px", "font-size":"24px", background:yourAnswer[index]==answer[index]?"cyan":"fuchsia", border:"solid 3px green;"} value=yourAnswer[index]) 
                                else
                                    | #{item}  
                            |
                    td(align="right", style={width: "300px", "border-bottom": "1pt solid black"})
                        h1 answer : #{answer[index]} 

