html
    head
        title Janauary Test List
    body
        h1 Janauary Test List
        h2 New Test: 
            a(href=name+"-instance?templateid="+id+"&templatename="+name) Start test!
        br
        h2 History
        br
        each row, index in instance
            h2
            |
            a(href=name+"-instance?templateid="+id+"&templatename="+name+"&instanceid="+row.instanceid) (#{index+1}). #{row.createtime}
            |　　(
            each his, indhis in row.history
                a(href=name+"-check?templateid="+id+"&templatename="+name+"&instanceid="+row.instanceid+"&historyid="+his.id) #{his.id}回目: #{his.point}
                |　
            |)
        