html
    head
        title Test Result(Calculate)
    body
        h1 
            a(href="main?templateid="+templateid) back to list
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            |Point : 
            if point <= 80
                label(style="color:red;") #{point}
            else
                label(style="color:green;") #{point}
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            |Cost : 
            if cost >= "02:00"
                label(style="color:red;") #{cost}
            else
                label(style="color:green;") #{cost}
        h1 #{name[0]}、#{name[1]}、#{name[2]}、#{name[3]}の４人は、
        table
            tr
                each value, index in cards
                    td
                        h1 #{value}、
                td
                    h1 のカードを１人１枚ずつ持っています。
        h1 #{name[0]}と#{name[1]}と#{name[2]}のカードの数を足すと#{sums[0]}です。
        h1 #{name[0]}と#{name[2]}と#{name[3]}のカードの数を足すと#{sums[1]}です。
        h1 #{name[1]}と#{name[2]}と#{name[3]}のカードの数を足すと#{sums[2]}です。
        table
            each row, index in yourAnswer
                tr
                    td(style={"padding-left": "100px"})
                        h1  #{name[index]}：
                    td(style={padding: "10px","border-bottom": "1pt solid black"})
                        input(type="text" disabled style={width: "80px", height:"50px", "font-size":"24px", background:yourAnswer[index]==answer[index]?"cyan":"fuchsia", border:"solid 3px green;"} value=yourAnswer[index]) 
                    td(align="right", style={width: "300px", "border-bottom": "1pt solid black"})
                        h1 answer : #{answer[index]} 

