html
    head
        title New Test(Calculate)
        script
            include ../../../public/timer.js
        script.
            setInterval(setTimer, 1000)
    body
        form(action="/Guess/check", method="post")
            input(type="hidden" name="instanceid" value=instanceid)
            input(type="hidden" name="templateid" value=templateid)
            input(type="hidden" name="cost" value="1")
            h1 
                |Timer : 
                label(id="timer" name="timer") 00:00
            h1 #{name[0]}、#{name[1]}、#{name[2]}、#{name[3]}の４人は、
            table
                tr
                    each value, index in cards
                        td
                            h1 #{value}、
                    td
                        h1 のカードを１人１枚ずつ持っています。
            h1 #{name[0]}と#{name[1]}と#{name[2]}のカードの数を足すと#{sums[0]}です。
            h1 #{name[0]}と#{name[2]}と#{name[3]}のカードの数を足すと#{sums[1]}です。
            h1 #{name[1]}と#{name[2]}と#{name[3]}のカードの数を足すと#{sums[2]}です。
            table
                each row, index in answer
                    tr
                        td(style={"padding-left": "100px"})
                            h1  #{name[index]}：
                        td(style={padding: "10px","border-bottom": "1pt solid black"})
                            input(type="text" name="answer" style={width: "80px", height:"50px", "font-size":"24px",border:"solid 3px green;"}) 
            button(type="submit",style={"font-size":"24px"} onclick="cost.value=timer.innerText") check
                
        